main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-square {
    border: 0.2px gray solid;
    height: 200px;
}

button {
    background-color: pink;
    border-radius: 4px;
    padding: 5px 5px;
    margin-bottom: 10px;
    border: 0.2px solid;
}